@{
    ViewBag.Title = "About";
}

<section id="user-area" class="main-section">
    <div class="container">

        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
        </div>
</section>